Body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
/* Headings */

.big-heading {
  font-size: 3.15rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  line-height: 1.5;
  font-size: 3rem;
}

.container-fluid {
  padding: 7% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

/* Navigation bar */

.navbar-brand {
font-family: "Ubuntu" , serif;
font-size: 2.5rem;
font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

/* Down load Buttons */

.down-load-btn {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image-parent {
  position: relative;
}


.title-image {
  position: absolute;
  width: 60%;
  right: 28%;
  transform: rotate(20deg);
  z-index: 0;
}

#title {
  background-color: #ff4c68;
  color: #FFF;
  text-align: left;
}

#title .container-fluid {
  padding: 2% 15% 7%;
}

/* Features section */

#features {
  background-color: #FFF;
  position: relative;
  z-index: 3;
}

.feature-title {
  font-size: 1.5rem ;
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

.feature-box > p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  color: #fff;
  background-color: #ef8172;
}

#testimonials > h2 {
  font-family: "Montserrat" , sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}



/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-images {
  padding: 20px 20px 50px;
  width: 15%;
}



/* Pricing */

 #pricing {
   padding: 100px;
 }

 .pricing-text{
   font-size: 3rem;
   line-height: 1.5;
 }

.pricing-dog {
  padding: 3% 2%;
}


  /* Media queries */

  @media (max-width: 1028px) {

    #title {
      text-align: center;
    }

    .title-image {
      position: static;
      transform: rotate(0);
    }

  }


/* Call to action */



#cta {
  background-color: #ff4c68;
  color: #FFF;

}


/* Footer */

#footer {
  background-color: #FFF;
}

.footer-icon {
  padding-top: 10%;
  margin: 20px 10px;
}
.footer-icon:hover {
  color: #ff4c68;
}
